In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

# Normalize Title Genres

In [3]:
title_basic = pd.read_csv('Data/title_basics.csv.gz')

In [4]:
title_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [5]:
title_basic['genres_split'] = title_basic['genres'].str.split(",")

In [6]:
exploded = title_basic.explode('genres_split')
exploded

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",Drama
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",History
...,...,...,...,...,...,...,...,...,...,...
86845,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
86845,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
86845,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
86846,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
86846,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [7]:
unique_genres = sorted(exploded['genres_split'].unique())

# Create a new title_genres table

In [8]:
title_genres = exploded[['tconst','genres_split']].copy()
title_genres

          tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0043139        Drama
1      tt0043139      History
...          ...          ...
86845  tt9916190       Action
86845  tt9916190    Adventure
86845  tt9916190     Thriller
86846  tt9916362        Drama
86846  tt9916362      History

[162297 rows x 2 columns]

In [9]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [10]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [11]:
# Manually make dataframe with named cols from the .keys .values
genre_lookup = pd.DataFrame ({'Genre_Name':genre_map.keys(),
                              'Genre_ID':genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Create SQL database

In [13]:
with open(r"C:\Users\black\.secret\mysql_credentials.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [18]:
database = "TMDB"
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{database}"
if database_exists(connection) == False:
    create_database(connection)
else:
    print('Database already exists!')

In [16]:
engine  = create_engine(connection)

# Create SQL tables

In [19]:
title_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [21]:
title_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86847 entries, 0 to 86846
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86847 non-null  object
 1   titleType       86847 non-null  object
 2   primaryTitle    86847 non-null  object
 3   originalTitle   86847 non-null  object
 4   isAdult         86847 non-null  int64
 5   startYear       86847 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86847 non-null  int64
 8   genres          86847 non-null  object
 9   genres_split    86847 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.6+ MB

In [23]:
title_basic.drop(columns = ['titleType', 'originalTitle','isAdult', 'endYear', 'genres', 'genres_split'], inplace=True)

In [24]:
title_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86847 entries, 0 to 86846
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86847 non-null  object
 1   primaryTitle    86847 non-null  object
 2   startYear       86847 non-null  float64
 3   runtimeMinutes  86847 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.7+ MB

In [26]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_basic['tconst'].fillna('').map(len).max()
title_len = title_basic['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()}

In [29]:
title_basic.to_sql('title_basics', engine,dtype=df_schema, if_exists='replace', index=False)

86847

In [30]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')