In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymysql
import json
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

# Import data using Glob

In [2]:
import glob
import os
Folder = "Data/"
q = Folder + "final_*.csv.gz"
q

'Data/final_*.csv.gz'

In [3]:
file_list = glob.glob(q)
file_list

['Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz',
 'Data\\final_tmdb_data_2011.csv.gz',
 'Data\\final_tmdb_data_2012.csv.gz',
 'Data\\final_tmdb_data_2013.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2018.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz',
 'Data\\final_tmdb_data_2020.csv.gz',
 'Data\\final_tmdb_data_2021.csv.gz',
 'Data\\final_tmdb_data_2022.csv.gz']

In [4]:
#skip_blank_lines = True will handle ParserErrors with blanks line
#https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df = pd.concat([pd.read_csv(f,skip_blank_lines=True) for f in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,1859.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3825,tt9883664,0.0,NaN,NaN,0.0,[],NaN,1031225.0,en,Equally Friends,...,0.0,47.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Equally Friends,0.0,0.0,0.0,NaN
3826,tt9893130,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,972731.0,en,"2025: Blood, White & Blue",...,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,THE PURGE meets US,"2025: Blood, White & Blue",0.0,4.0,1.0,NaN
3827,tt9893158,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 10749, 'n...",NaN,796955.0,en,Clowning,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Warm nights... Feels like death in the sand du...,Clowning,0.0,8.0,1.0,NaN
3828,tt9893160,0.0,/bsN0OyA6ZSQ3vkvNMaoNgp4woB6.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,5.3,12.0,NaN
3829,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.0,1.0,NaN

In [5]:
#remove ids that are 0
df = df.loc[df['imdb_id'] != '0']
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,1859.0,PG
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.9,45.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3825,tt9883664,0.0,NaN,NaN,0.0,[],NaN,1031225.0,en,Equally Friends,...,0.0,47.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Equally Friends,0.0,0.0,0.0,NaN
3826,tt9893130,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,972731.0,en,"2025: Blood, White & Blue",...,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,THE PURGE meets US,"2025: Blood, White & Blue",0.0,4.0,1.0,NaN
3827,tt9893158,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 10749, 'n...",NaN,796955.0,en,Clowning,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Warm nights... Feels like death in the sand du...,Clowning,0.0,8.0,1.0,NaN
3828,tt9893160,0.0,/bsN0OyA6ZSQ3vkvNMaoNgp4woB6.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,5.3,12.0,NaN
3829,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.0,1.0,NaN

In [6]:
## saving the combined csv to disk
df.to_csv(Folder+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

# Re-Organize final data and filter out columns that need for SQL file

In [7]:
df = df.loc[:,['imdb_id','revenue', 'budget', 'certification']]
df.head()

     imdb_id     revenue      budget certification
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG
5  tt0118852         0.0         0.0             R

In [8]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [9]:
with open(r"C:\Users\black\.secret\mysql_credentials.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [10]:
database = "TMDB"
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{database}"
engine = create_engine(connection)
if database_exists(connection) == False:
    create_database(connection)
else:
    print('Database already exists!')

Database already exists!

In [11]:
# Calculate max string lengths for object columns
imdb_id_len = df['imdb_id'].fillna('').map(len).max()
certification_len = df['certification'].fillna('').map(len).max()
# Use 1 + the max_str_len for object columns
# Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'imdb_id': String(imdb_id_len+1), 
    'budget':Float(),
    'revenue':Float(),
    'certification': String(certification_len+1)}

In [ ]:
df.to_sql('combined_tmdb',
              engine, 
              dtype=df_schema,
              if_exists='replace',
              index=False)

In [ ]:
q = """
SELECT * 
FROM combined_tmdb LIMIT 5
;"""
pd.read_sql(q, engine)

In [ ]:
q= """DELETE c1
FROM combined_tmdb c1
JOIN combined_tmdb c2 ON c1.imdb_id = c2.imdb_id AND c1.revenue < c2.revenue;"""
pd.read_sql(q, engine)

In [ ]:
engine.execute('ALTER TABLE combined_tmdb ADD PRIMARY KEY (`imdb_id`);')